<div class="container">
  <h1>cocktails</h1>

  <% @cocktails.each do |cocktail| %>

    <div class="card-product mt-3">
      <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://img.estadao.com.br/fotos/crop/1200x1200/resources/jpg/2/2/1528851153922.jpg" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to "#{cocktail.name}", cocktail %></h2>
      </div>
    </div>

  <% end %>



  <%= link_to 'New cocktail', new_cocktail_path, class: 'btn btn-primary mt-3' %>
</div>
